.blnk-about {
  padding-top: 36px;
}

.blnk-documentary {
  padding-top: 72px;
  padding-bottom: 72px;
}

.blnk-documentary-video {
  padding-bottom: 36px;
}

.blnk-mtt {
  padding-top: 72px;
  padding-bottom: 72px;
}

.blnk-border{
  padding-top: 72px;
  padding-bottom: 72px;
}

.blnk-footer {
  padding-bottom: 72px;
}
