@import "typography.scss";
@import "mobile.scss";
@import "layout.scss";

/* Global Style Settings */

body {
  margin: 0;
}

iframe {
  width: 100%;
  height: 65vh;
}

hr {
  background: none;
  margin: 0 !important;
  position: fixed;
}

.blnk-graph-1 {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 36px;
  padding-bottom: 36px;
}

.blnk-graph-2 {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 36px;
  padding-bottom: 36px;
}

/* Navigational Bar Settings */

.blnk-navbar {
  width: 100%;
}

/* Project Settings */

.blnk-project {
  background-image: url('../img/div-bg/blnk-div-bg-1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.blnk-project img {
  height: 100%;
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px;
}

/* Findings Settings */

.blnk-findings {
  background-image: url('../img/div-bg/blnk-div-bg-5.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Documentary Settings */

.blnk-documentary {
  background-image: url('../img/div-bg/blnk-div-bg-2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.blnk-hr-documentary {
  border-color: #222222;
}

/* #ALLUPINYOURSPACE Settings */

.blnk-allupinyourspace {
  background-image: url('../img/div-bg/blnk-div-bg-3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.blnk-allupinyourspace img {
  width: 100%;
  height: 100%;
  background-position: center;
}

.instaimg {
  margin-top: 24px;
  object-fit: cover;
  background-position: center;
  width: 250px;
  height: 250px;
}

/* Meet the Team Misc. Settings */

/* Disable Filter

.blnk-mtt img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

*/

.blnk-mtt img {
  width: 100%;
  height: 100%;
  background-position: center;
}

.blnk-mtt {
  background-image: url('../img/div-bg/blnk-div-bg-4.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* Acknowledgement Misc. Settings */

.blnk-hr-acknowledgements {
  border-color: #222222;
}

.blnk-acknowledgements {
  background-color: black;
}

/* Footer Settings */

.blnk-footer {
  background-color: black;
}
