p {
  color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

a {
  color: white;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Hero */

.blnk-hero-caption {
  font-weight: 300;
  font-size: 24px;
}

/* About */

.blnk-about h1 {
  padding-bottom: 36px;
}

.blnk-about-regular {
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 12px;
}

.blnk-about-small {
  font-weight: 400;
  font-size: 16px;
}

/* Documentary */

.blnk-documentary-regular {
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 12px;
}

.blnk-documentary-small {
  font-weight: 400;
  font-size: 16px;
}

.blnk-documentary-caption-1 {
  font-weight: 300;
  font-size: 12px;
}

.blnk-documentary-caption-2 {
  font-weight: 400;
  font-size: 16px;
}

/* Instagram */

.blnk-instagram h1 {
  padding-bottom: 36px;
}

.blnk-insta-regular {
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 12px;
}

.blnk-insta-small {
  font-weight: 400;
  font-size: 16px;
}

/* Meet the Team */

.blnk-mtt h1 {
  padding-bottom: 36px;
}

.blnk-caption {
  padding-top: 12px;
  font-size: 12px;
  font-weight: 300;
}

.blnk-mtt-bold-top {
  font-weight: 400;
  font-size: 16px;
  padding-top: 32px;
}

.blnk-mtt-bold-bottom {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 16px;
}

.blnk-mtt-regular {
  font-size: 12px;
  font-weight: 300;
}

.blnk-mtt a {
  font-size: 12px;
  font-weight: 400;
}

/* Acknowledgements */

.blnk-acknowledgements-top {
  font-weight: 300;
  font-size: 24px;
}

.blnk-acknowledgements-middle {
  font-weight: 300;
  font-size: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.blnk-acknowledgements-bottom {
  font-weight: 300;
  font-size: 24px;
}

/* Footer */

.blnk-footer-regular {
  font-weight: 300;
  font-size: 24px;
}

.blnk-footer-small {
  font-weight: 300;
  padding-top: 16px;
  font-size: 16px;
}

.blnk-footer-small-2 {
  font-weight: 300;
  font-size: 16px;
}
